<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    /* CSS for styling the email goes here */
    <link rel="stylesheet" type="text/css" href="./email.css">
  </style>
  <title></title>
</head>
<body>
<h1>Password Reset Request</h1>
<p>Hello {{ name }},</p>
<p>We received a request to reset the password for your account. If you did not make this request, please ignore this email.</p>
<p>To reset your password, please click the link below:</p>
<a href="{{link}}">Validate account</a>
<p>If the above link does not work, you can also copy and paste the following URL into your browser:</p>
<p>{{link}}</p>
<p>If you have any questions, please contact us at support@example.com</p>
<p>Thank you,</p>
<p>The Example Team</p>
</body>
</html>
